.page {
  background-color: var(--bg);
  color: white;
  min-height: 100lvh;
  position: relative;

  .grid {
    margin-top: var(--nav-bar-height);
    position: absolute;
    width: 100%;
    height: 70rem;

    // Paper grid background with vertical and horizontal lines
    background-image: linear-gradient(#424242 1px, transparent 1px),
      /* Horizontal lines */
    linear-gradient(90deg, #424242 1px, transparent 1px);
    /* Vertical lines */

    background-size: 40px 40px; // Grid cell size (40px)
    background-position: 0 0; // Position of the grid lines

    // Fade effect using a linear gradient mask
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-size: 100% 100%; // Ensure it covers the entire height
    mask-position: top;

    z-index: 2; // Ensure it's below the content
  }

  .lights {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 77rem;
    background: radial-gradient(circle at 110%, #ec4b4b8f, transparent 70%, transparent 75%, transparent 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-size: 100% 100%; // Ensure it covers the entire height
    mask-position: top;
  }

  .pageContent {
    z-index: 3;
    position: relative;
    background: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;

    & > * {
      width: 100%;
    }

    .landing {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 45rem;

      .title {
        font-size: clamp(3.5rem, 10vw, 4.5rem);
        letter-spacing: 0.35rem;
      }

      .subTitle {
        margin-top: 0.5rem;
        font-size: clamp(1.1rem, 3.5vw, 1.3rem);
        color: var(--font-dark);
        max-width: 30rem;
        line-height: 1.75rem;
      }

      .buttons {
        margin-top: 3.5rem;

        .button {
          margin-right: 0.5rem;
          padding: 1.25rem;
          font-size: medium;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    .features {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 20px;
      margin-bottom: 2.5rem;
    }
  }

  .test {
    position: relative;
    background-color: var(--bg-dark);

    .svg {
      position: absolute;
      fill: #131313;
    }

    .roadmap {
      padding-top: 11rem;
      padding-bottom: 9rem;
    }

    .bottomSvg {
      position: absolute;
      fill: #131313;
      bottom: -0.1rem;
      rotate: 180deg;
    }
  }

  .test2 {
    height: 20rem;
  }
}

@media (max-width: 750px) {
  .page {
    .grid {
      background-size: 35px 35px;
    }

    .pageContent {
      .landing {
        align-items: center;
        text-align: center;
        height: 55rem;
        margin-top: var(--nav-bar-height);
      }

      .features {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);
        margin-bottom: 0;
      }
    }

    .test {
      padding-right: 1rem;

      .roadmap {
        padding-top: 6rem;
        padding-bottom: 6rem;
      }
    }
  }
}
