.card {
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: rgb(17, 17, 17);

    .header {
        .title {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}
